
<router-outlet></router-outlet>

<!-- <hr>
<app-recursive-func-count-discard-subseq></app-recursive-func-count-discard-subseq>
<hr> -->

<!-- <h1>Testes de conceitos em uma máquina virtual com DOCKER</h1>
<br>
<br>
<h3>{{dateFormat_1}}</h3>
<h3>{{dateFormat_2}}</h3>
<h3>{{dateFormat_3}}</h3> -->

<h1>Estudo de objetos com TypeScript</h1>
<br>
<app-coin-change-bfsapproach></app-coin-change-bfsapproach>

<!-- <p>{{ orderItem }}</p> -->
   
<!-- <div >
    <p *ngIf="paragrafoOFF" style="background: red;">Paragrafo _ 1</p>
    <p *ngIf="!paragrafoOFF" style="background: blue;">Paragrafo _ 2</p>
</div>
<button (click)="paragrafoOFFPrintHide()">Login</button>
<br> -->

<br>
<!-- <app-brute-force-algorithm></app-brute-force-algorithm> -->
<hr>
<br>
<!-- <app-function-merge-two-arrays></app-function-merge-two-arrays> -->




